.movies {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10em;
}

.movies img{
    height: 20em;
    margin: 1em 3em 3em 3em;
    border: none;
    width: auto;
}

.movies {
    color: white;
    text-shadow: var(--slate) 0px 0px 5px, var(--slate) 0px 0px 10px, var(--slate) 0px 0px 20px;
}
